*{
    margin:0;
    padding:0;
}

/*Nav bar*/
.logo,ul,li{
        display: inline-block;
        color: blanchedalmond;
      }
ul {
        float:right;
      }
li {
        margin:0 1.5em;

      }
.logo{
        padding-left:1.5em;
      }
      
.nav{
        padding:1.5em 0;
        box-shadow: 0px 8px 8px grey;
        font-size:1em;        
        position:fixed;
        z-index:0;
        background-color: black;
        width: 100%;
      }
.box{
    width: 100%;
    height:500px;
    background-color: #D5B981;
    box-sizing: content-box;
}

.image { float: right; }

.text{
display: flex;
width :40%;
flex-wrap: wrap;
margin-top: -350px;
margin-left:20px;
font-size: 20px;
color :#1d2434;
font-family: 'Verdana';
height : 35%;
justify-content: space-between ;
flex-direction : column ;}

.third{height: 500px;}


.NOW{
	border:2px solid #1d2434;
	position:sticky;
	top:2px;
	right:10px;
    width : 150px;
    height : 50px;

}
/*didnt work */

text-area.now { position : center; } 

.section { width:90%  ;
display :flex ;
margin : 50px;
margin-top : 200px;
justify-content: space-between ;
height: 500px;

}

.b {flex-wrap: wrap;
display: flex;
font-size: 20px;
width :60%;
height :350px;
margin-top : 60px ;
justify-content: space-between ;
flex-direction : column ;}

.third{height: 500px;}

.textt { display: flex ;
    justify-content :space-between ;
    height:110px;
    flex-direction: column;
    align-items: center;
   
}

.boxx {display : inline-block ;
    width:300px;
    height:400px;
    background-color:rgba(211, 212, 211, 0.5);
    box-sizing: border-box;
    padding:20px;
margin-left: 80px ; }

.content {float : left ;
margin-left : -19px;
margin-top: -20px;
width : 100% ;
display: flex;
font-size: 15px;
height :380px;
justify-content: space-between ;
flex-direction : column ;
text-align : center;
}
.boxy {display : inline-block ;
    width:220px;
    height:100px;
    background-color:rgba(211, 212, 211, 0.5);
    box-sizing: border-box;
    padding:20px;
margin-left: 80px ;}

.contentt{
    display: flex;
    justify-content: space-around ;
    height: 600px;
margin-top : -19px;
margin-left: -45px;
width : 100%;
    }
.row {display:flex;
    margin-top: 20px;
flex-direction : column;
align-items: center;}
/*prob in the bring t front */
.layer { width: 100%;
    height :500px ;    
    background-color: #1d2434;
    box-sizing: content-box;
    opacity: 50%;
    margin-top : -500px;
    z-index: -1;
}
.cont {display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between ;
    height :150px;
 margin-top: -250px;
 margin-left: 290px;
 width: 50%;
z-index: 1;
    
  }
.fifth {
margin-top: 150px;
height: 500px;
}

.team {display: flex;
flex-direction: row; 
justify-content: space-around;
margin :50px;}


.boxe {display : inline-block ;
    padding :0px;
    width:190px;
    height:100px;
    background-color:rgb(211, 212, 211);
    box-sizing: border-box;
    margin-left: 85px ;
    margin-right:10px ;
    margin-top: -250px;
    margin-bottom: 30px;
}
.name {display: flex ;
    flex-direction: row;
    justify-content:space-around;
   margin-top: -115px;
   margin-left: 30px;
   margin-right: 30px;
   font-size: 13px;
}

.job {display: flex ;
    flex-direction: row;
    justify-content:space-around;
   margin-top: 10px;
   margin-left: 30px;
   margin-right: 30px;
   font-size: 13px;

}

.formulaire {display: flex ;
    flex-direction: row;

}
.form{
	width:60%;
    height: 180px;
	min-width:300px;
    margin-top: -468px;
    margin-left: 400px;
	padding:9em 3em;
	display:flex;
	flex-direction: column;
    justify-content: space-between;
    background-color: #1d2434;
}
form input {
	margin:1em 0;
    
}
form input,form label{
	font-size:1.2em;
}

.final { height: 600px;}

.boxcontact {width: 100%;
    height:400px;
    background-color: #1d2434;
    box-sizing: content-box;
 }

/*
div.b {lezem same div class

    display: inline-block;
    width: 150px;
    height: 100px;
    padding: 100px;
     }*/

